/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos del cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #eee; /* Fondo para todas las páginas */
}

/* Contenedor de la información principal */
.content-info {
    margin-top: 6%;
    height: 88vh;
    display: flex;
    justify-content: space-around; /* Distribuye las tarjetas de manera uniforme */
    align-items: center;
}

/* Estilos de las tarjetas */
.card {
    position: relative;
    height: 400px;
    width: 290px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.orlando {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/Orlando.jpg");
    background-size: cover;
}

.manuel {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../img/Manuel.jpg");
    background-size: cover;
}

.front-face, .back-face {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    border-radius: 10px;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.contents {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    perspective: 100px;
    transform: translateY(-50%) translateZ(60px) scale(0.94);
}

.front p {
    font-size: 28px;
    margin: 0;
}

.front span {
    font-size: 30px;
    font-weight: 300;
}

.front .bottom-bar::after {
    content: '';
    display: block;
    background: white;
    height: 2px;
    width: 150px;
    margin: 10px auto 20px;
}

.back-face {
    background: linear-gradient(45deg, #0e0e0e 0%, #5a5a5a 100%);
}

.back h2 {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 300;
}

.back span {
    font-weight: 300;
    font-size: 12px;
}

.icons {
    margin: 10px 0;
}

.icons i {
    height: 40px;
    width: 40px;
    background: white;
    color: #042f4b;
    font-size: 20px;
    border-radius: 50%;
    line-height: 40px;
    margin: 0 5px;
    cursor: pointer;
}

.front-face {
    transform: rotateY(0deg);
}

.back-face {
    transform: rotateY(180deg);
}

.card:hover > .front-face {
    transform: rotateY(-180deg);
}

.card:hover > .back-face {
    transform: rotateY(0deg);
}
