#atropos{
    margin-top: 12vh;
}

.offer{ /* Estilo se los DIV visibles*/
    margin-top: 2%;
    background-color: rgba(208, 104, 69, 0.573);
    height: 200px;
    width: 500px;
    border-radius: 20px;
    text-align: center;
    transition: background-color 0.3s ease; /* Agrega una transición suave */
}

.offer2{ /*Estilo de los DIV emergentes */
    margin-top: 2%;
    background-color: rgb(246, 103, 42);
    height: 200px;
    width: 500px;
    border-radius: 20px;
    text-align: center;
    transition: background-color 0.3s ease; /* Agrega una transición suave */
}
/* Viñetas de las listas */
.custom-bullets {
    list-style-type: none; /* Elimina las viñetas predeterminadas */
    padding-left: 0; /* Elimina el espacio a la izquierda de la lista */
}

.custom-bullets li:before {
    content: "\1f836"; /* Utiliza un círculo como viñeta (puedes usar otros caracteres o iconos) */
    color: #ff0000; /* Cambia el color de las viñetas */
    font-size: 1.5em; /* Cambia el tamaño de las viñetas */
    margin-right: 5px; /* Añade espacio entre la viñeta y el texto */
}

.title-package{ /*Parrafos de los titulos de las paquetes*/
    font-size: 25px;
}


.text-package{ /*Paraffos de la descripcion de los paquetes*/
    font-size: 20px;
}

.space{ /* DIV existente entre los paquetes(es solo para que esten separados)*/
    width: 2%;
}

.image-slide{ /* Formato de las imagenes que se muestran en el slider */
    width: 100%;
    height: auto;
    object-fit: contain;
}

.image-package{ /*Formato de las imagenes que se muestran en los paquetes*/
    height: 70%; 
    object-fit: contain;
    border-radius: 10%;
}

/* Aparicion del texto de los paquetes */
/* Viaje solo */
#alone1:hover{
    background-color: rgb(246, 103, 42);
    scroll-margin-bottom: 10vh; /* Desplaza el contenido hacia arriba para centrar el div */
}

#alone2{
    position: relative; /* Posición relativa para posicionar en relación con div1 */
    top: 0px; /* Coloca div2 debajo de div1 (la altura de div1 + el espacio deseado) */
    display: none; /* Oculta inicialmente div2 */
}

#alone1:hover + #alone2{
    display: block; /* Muestra div2 cuando se pasa el cursor sobre div1 */
}

/* Viaje pareja */
#couple:hover{
    background-color: rgb(246, 103, 42);
}

#couple2{
    position: relative; /* Posición relativa para posicionar en relación con div1 */
    top: 0px; /* Coloca div2 debajo de div1 (la altura de div1 + el espacio deseado) */
    display: none; /* Oculta inicialmente div2 */
}

#couple:hover + #couple2{
    display: block; /* Muestra div2 cuando se pasa el cursor sobre div1 */
}
/* Viaje familia */
#family:hover{
    background-color: rgb(246, 103, 42);
}

#family2{
    position: relative; /* Posición relativa para posicionar en relación con div1 */
    top: 0px; /* Coloca div2 debajo de div1 (la altura de div1 + el espacio deseado) */
    display: none; /* Oculta inicialmente div2 */
}

#family:hover + #family2{
    display: block; /* Muestra div2 cuando se pasa el cursor sobre div1 */
}

.packages{ /* Contenedor de los parquetes */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo de slider */
.swiper {
    
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    width: 95%;
    height: 400px;
    .swiper-slide{
        background: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
    } 
}
  
