#atropos{
    margin-top: 12vh;
}

.title-package{ /*Parrafos de los titulos de las paquetes*/
    font-size: 25px;
}


.text-package{ /*Paraffos de la descripcion de los paquetes*/
    font-size: 20px;
}

.space{ /* DIV existente entre los paquetes(es solo para que esten separados)*/
    width: 2%;
}

.image-slide{ /* Formato de las imagenes que se muestran en el slider */
    width: 100%;
    height: auto;
    object-fit: contain;
}

.image-package{ /*Formato de las imagenes que se muestran en los paquetes*/
    height: 70%; 
    object-fit: contain;
    border-radius: 10%;
}

.packages{ /* Contenedor de los parquetes */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo de slider */
.swiper {
    
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    width: 95%;
    height: 400px;
    .swiper-slide{
        background: #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
    } 
}

section {
    background: #ffffff;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center; /* Para centrar verticalmente */
  }
  
  .pricing-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    flex: 0 1 330px;
  }
  
  .pricing-palden .pricing-item {/* Modifica el texto de las listas */
    font-family: 'Open Sans', sans-serif;
    cursor: default;
    color: #000000;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(46, 59, 125, 0.23);
    border-radius: 20px 20px 10px 10px;
    margin: 1em;
  }
  
  .pricing-palden .pricing-deco {
    border-radius: 10px 10px 0 0;
    background: rgba(0, 0, 0, 0.719);
    padding: 4em 2em 9em;
    position: relative;
  }
  
  .pricing-palden .pricing-deco-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 160px;
  }
  
  .pricing-palden .pricing-title {/* Modifica el titulo */
    font-size: 1em;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #ffffff;
  }
  
  .pricing-palden .deco-layer {
    transition: transform 0.5s;
  }
  
  .pricing-palden .pricing-item:hover .deco-layer--1 {
    transform: translate3d(15px, 0, 0);
  }
  
  .pricing-palden .pricing-item:hover .deco-layer--2 {
    transform: translate3d(-15px, 0, 0);
  }
  
  .pricing-palden .icon {
    font-size: 2.5em;
  }
  
  .pricing-palden .pricing-price {
    font-size: 5em;
    font-weight: bold;
    padding: 0;
    color: #fff;
    margin: 0 0 0.25em 0;
    line-height: 0.75;
  }
  
  .pricing-palden .pricing-currency {
    font-size: 0.5em;
    vertical-align: top;
  }
  
  .pricing-palden .pricing-period {
    font-size: 0.25em;
    padding: 0 0 0 1em;
    font-style: italic;
  }
  
  .pricing-palden .pricing__sentence {
    font-weight: bold;
    margin: 0 0 1em 0;
    padding: 0 0 0.5em;
  }
  
  .pricing-palden .pricing-feature-list {
    font-size: 1.2em;
    margin: 0;
    padding: 0.25em 0 2.5em;
    list-style: none;
    text-align: center;
  }
  
  .pricing-palden .pricing-feature {
    padding: 1em 0;
  }
  
  .pricing-palden .pricing-action {
    font-weight: bold;
    margin: auto 3em 2em 3em;
    padding: 1em 2em;
    color: #ffffff;
    border-radius: 30px;
    background: #ffffff;
    transition: background-color 0.3s;
  }
  
  .pricing-palden .pricing-action:hover,
  .pricing-palden .pricing-action:focus {
    background-color: #ffffff;
  }
  
  .pricing-palden .pricing-item--featured .pricing-deco {
    padding: 5em 0 8.885em 0;
  }
