/* Estilos de la barra de navegación */
.navbar {
    position: fixed; /* Fija la barra de navegación en la parte superior de la página */
    background-color: #c9c8c8; /* Color de fondo gris claro para la barra de navegación */
    color: #fff; /* Color del texto en la barra de navegación */
    padding: 10px 0; /* Relleno superior e inferior de 10px */
    z-index: 2; /* Asegura que la barra de navegación esté por encima de otros elementos */
    width: 100%; /* Ancho completo de la barra de navegación */
    top: 0; /* Posiciona la barra de navegación en la parte superior de la página */
}

/* Contenedor para centrar el contenido y establecer un ancho máximo */
.container {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    display: flex; /* Usa flexbox para alinear los elementos */
    justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
    align-items: center; /* Alinea los elementos verticalmente en el centro */
    height: 8vh; /* Altura del contenedor en 8% de la altura de la ventana */
}

/* Estilos para la imagen del logotipo */
.navbar img {
    height: 130px; /* Ajusta la altura del logotipo */
}

/* Lista de enlaces de navegación */
.nav-links {
    list-style: none; /* Elimina los puntos de la lista */
    display: flex; /* Usa flexbox para alinear los elementos horizontalmente */
}

/* Estilos para los elementos de la lista de navegación */
.nav-links li {
    margin-right: 20px; /* Espacio de 20px a la derecha de cada elemento */
}

/* Estilos para los enlaces dentro de los elementos de la lista */
.nav-links li a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: #fff; /* Color del texto blanco */
    padding: 8px 15px; /* Relleno de 8px vertical y 15px horizontal */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #555; /* Color de fondo gris oscuro */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color de fondo */
}

/* Estilos para los enlaces al pasar el cursor */
.nav-links li a:hover {
    background-color: #777; /* Cambia el color de fondo a gris más claro al pasar el cursor */
}

/* Estilos del menú desplegable */
.dropdown-content {
    display: none; /* Oculta el contenido del desplegable por defecto */
    position: absolute; /* Posiciona el contenido de forma absoluta */
    background-color: #333; /* Color de fondo gris oscuro */
    min-width: 120px; /* Ancho mínimo del menú desplegable */
    z-index: 2; /* Asegura que el menú desplegable esté por encima de otros elementos */
}

/* Estilos para los elementos del contenido del desplegable */
.dropdown-content li {
    padding: 8px 15px; /* Relleno de 8px vertical y 15px horizontal */
}

/* Muestra el contenido del menú desplegable al pasar el cursor sobre el elemento padre */
.nav-dropdown:hover .dropdown-content {
    display: block; /* Muestra el contenido del desplegable */
}
