body{
  margin: 0; /* Elimina los márgenes por defecto del cuerpo */
  padding: 0; /* Elimina el relleno por defecto del cuerpo */
  background: linear-gradient(#ffffff8b, #000000); /* Aplica un degradado de fondo desde un blanco semi-transparente a negro */
  }
/* Estilos generales para el formulario */
.form {
  margin-top: 6%; /* Margen superior del 6% */
  height: 88vh; /* Altura del 88% del viewport */
  text-align: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
}
/* Estilos para el título */
.title {
  font-size: 60px; /* Tamaño de fuente de 60px */
  font-weight: bolder; /* Establece el grosor de la fuente en negrita */
  font-style: italic; /* Establece el estilo de fuente en cursiva */
}
/* Estilos para la tabla */
.tabla {
  position: relative;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  width: 700px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(255,255,225,.8);
  box-sizing: border-box;
  box-shadow:0  15px 15px rgba(255,255,255,.6);
  border-radius: 20px;
}