/* Estilos generales para el contenido */
.content {
  display: flex; /* Utiliza flexbox para organizar el contenido */
  position: fixed; /* Fija el contenido en la ventana */
  top: 0; /* Alinea el contenido en la parte superior */
  bottom: 0; /* Alinea el contenido en la parte inferior */
  left: 0; /* Alinea el contenido en el lado izquierdo */
  right: 0; /* Alinea el contenido en el lado derecho */
  text-align: center; /* Centra el texto horizontalmente */
}

/* Estilos para el margen superior del contenido */
.content {
  margin-top: 5.5%; /* Añade un margen superior del 5.5% */
}

/* Estilos para el contenedor del slider */
.swiper {
  width: 200px; /* Establece el ancho del slider en 240px */
  height: 280px; /* Establece la altura del slider en 320px */
}

/* Estilos para cada diapositiva del slider */
.swiper-slide {
  display: flex; /* Utiliza flexbox para centrar el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  justify-content: center; /* Centra horizontalmente el contenido */
  border-radius: 18px; /* Añade bordes redondeados */
  font-size: 22px; /* Establece el tamaño de fuente en 22px */
  font-weight: bold; /* Establece el peso de la fuente en negrita */
  color: #fff; /* Establece el color del texto en blanco */
}

/* Estilos para las imágenes dentro de las diapositivas del slider */
.swiper-slide img {
  width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
  height: 100%; /* Ajusta la altura de la imagen al 100% del contenedor */
  object-fit: cover; /* Ajusta el tamaño de la imagen para que cubra completamente el contenedor */
}

/* Estilos para las cuatro cajas dentro del contenido */
#right-top, #left-top, #right-bot, #left-bot {
  flex: 1; /* Cada caja ocupará la mitad del contenedor */
  border: 1px solid black; /* Añade un borde negro de 1px */
  box-sizing: border-box; /* Asegura que el tamaño de la caja incluya el borde */
}

/* Estilos para la caja superior derecha */
#right-top {
  background-color: rgba(194, 186, 76, 0.3); /* Establece el color de fondo con transparencia */
}

/* Estilos para la caja superior izquierda */
#left-top {
  background-color: rgba(121, 46, 46, 0.3); /* Establece el color de fondo con transparencia */
}

/* Estilos para la caja inferior derecha */
#right-bot {
  background-color: rgba(57, 57, 95, 0.3); /* Establece el color de fondo con transparencia */
}

/* Estilos para la caja inferior izquierda */
#left-bot {
  background-color: rgba(95, 188, 103, 0.3); /* Establece el color de fondo con transparencia */
}

/* Estilos para el título */
.title {
  font-size: 35px; /* Establece el tamaño de fuente en 45px */
  font-weight: bold; /* Establece el peso de la fuente en negrita */
  font-style: italic; /* Establece el estilo de fuente en cursiva */
}

/* Estilos para el texto */
.text {
  margin-top: 10%; /* Añade un margen superior del 20% */
  margin-left: 10%; /* Añade un margen izquierdo del 10% */
  margin-right: 10%; /* Añade un margen derecho del 10% */
  max-width: 90%; /* Establece el ancho máximo en 80% */
  font-size: 20px; /* Establece el tamaño de fuente en 25px */
}
